*.swp
*.prototxt
*.caffemodel
*.solverstate
*.log
proto
model
train_data
notes.txt
train_log.*
build
*.so
*.c
*.pyc
train_logs
plots
calc.tar.gz
DeepLCD/rvbaa_model
Original.jpg
Warped.jpg
caffe 
devel
np
math
CampusLoopDataset
